{% extends 'base.html.twig' %}

{% block title %}New Tablelyon{% endblock %}

{% block body %}
    <h1>Create new Tablelyon</h1>

    {{ include('tablelyon/_form.html.twig') }}

    <a href="{{ path('tablelyon_index') }}">back to list</a>
{% endblock %}
