{% extends 'base.html.twig' %}

{% block title %}envoi sms{% endblock %}

{% block body %}
    <h1>Bravo </h1>
    <h4>Vos sms ont été envoyés vers les membres de la section Ehivet de Lyon. </h4>

    {% endblock body %}