{% extends 'base.html.twig' %}
{# % form_theme form 'bootstrap_4_layout.html.twig' %} #}

{% block body  %}
<h2> Mise à jour de mon profile.</h2>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit"/>
{{ form_end(form) }}

{% endblock body %}

     