{% extends  'base.html.twig' %}
{% block title %}félicitation Sympathisant{% endblock title %}

 {% block navbar %} {% endblock navbar %}  
{% block pub %} {% endblock pub %}    
        
        {% block body %}
        <h5>Bravo pour votre inscription.Vous recevrez un sms vous confirmant votre inscription en vous délivrant un numeros. Conservez-le bien. vous avez le statut de SYMPATHISANT . Nous vous invitons à lire les statuts du FPI afin de devenir ADHERENT. Le FPI vous remercie de votre confiance.</h5>
		<h5>Maintenant que vous êtes définitivement inscrit, Noublié pas de vous CONNECTEZ.</h5>
        <li><a href="{{ path('app_logout') }}"><p><h4><span class="label label-info">Retour </span></h4></p></a> </li>
       
        {% endblock body %}