{% extends  'base.html.twig' %}
{% block title %}félicitation adherent{% endblock title %}

 {% block navbar %} {% endblock navbar %}  
{% block pub %} {% endblock pub %}    
        
        {% block body %}
        <h5>Vous venez de modifier votre demande d'adhésion. Nous prendrons vos informations immédiatement en compte. Vos informations sont confidentielles et nous les protégeons. Pour des raisons de sécurité vous êtes les seuls à pouvoir modifier vos données. Ne donnez jamais à personne votre code confidentielle.</h5>
		<li><a href="{{ '/' }}"><p><h4><span class="label label-info">Retour </span></h4></p></a> </li>
        {% endblock body %}