{% extends  'base.html.twig' %}
{% block title %}félicitation adherent{% endblock title %}

 {% block navbar %} {% endblock navbar %}  
{% block pub %} {% endblock pub %}    
        
        {% block body %}
        <h5>Bravo, vous n'êtes plus sympathisant. Dorénavant, vous êtes Adhérent. Au sein du FPI vous êtes considéré comme éligible.Nous vous invitons à lire nos statuts afin de connaitre vos droits et devoirs envers votre parti politique, le FPI.</h5>
		<li><a href="{{ '/' }}"><p><h4><span class="label label-info">Retour </span></h4></p></a> </li>
       
        {% endblock body %}