{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}
<h3> C'est ta carte </h3>
    {{ include('adhesion/_formCarteAdhesion.html.twig') }}

{% endblock %}