<DOCTYPE!html>
<html>
<head>
</head>
<body>
<p>
    Voici une photo que j'ai prise lors de mes dernières vacances à la montagne :<br />
    <img src="{{ adhesion.imageName.wwwData }}" />
    <img src="{{ asset('assets/img/logofpi.png') }}" class="img-circle"  alt="logo">
    <img src="{{ asset('assets/img/cdae5bc02cd4684412c61d1c0f0791de.jpeg') }}" class="img-circle"  alt="logo">
    <img src="{{ asset('assets/img/cae97c27c49c36e703c213c94390b3bc.jpeg') }}" class="img-circle"  alt="logo">
    
</p>
</body>
</html>
cae97c27c49c36e703c213c94390b3bc.jpeg