{% extends 'base.html.twig' %}

{% block title %}New Fpilyon{% endblock %}

{% block body %}
    <h1>Create new Fpilyon</h1>

    {{ include('fpilyon/_form.html.twig') }}

    <a href="{{ path('fpilyon_index') }}">back to list</a>
{% endblock %}
