{% extends 'base.html.twig' %}

{% block title %}CartePaiement!{% endblock %}

{% block body %}
<p><h3>PAIEMENT CARTE BLEUE (€) en euro </h3></p>

<form action="paiement_carte" method="POST">
<input type ='hidden' name='amountrois' value = {{ amountdeux }}> </input>
        <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        {# data-key="pk_test_yH2L4wvQABMYrMv6xJnzwPDr" #}
        data-key="pk_live_CRM6aOQ11RfcncXdqX8jKYpB"
        data-amount = {{ amountdeux}}
        data-name="Front Populaire Ivoirien"
        data-description="Je paie ma carte d'adhesion"
        data-image="{{ asset('assets/img/logofpi.png') }}"
        data-locale="auto"
        data-currency="eur"
        data-label="Paiement CB"> 
        </script>
</form>

{% endblock %}