{% extends 'layout.html.twig' %}

{% block title %}MAJ-Utilisateur{% endblock %}

{% block body %}
    <h1>Mise à Jour de vos données.</h1>
    {{ include('form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
