{# templates/menu-accordeon.html.twig #}

<ul id="menu-accordeon">
   <li><a href="#">Liste Auv/Rhône/Alpes </a>
            <ul>
               <li><a href="{{ path('tablelyon_new') }}">Ajouter Mbre Bureau</a></li>
            </ul>
             <ul>
               <li><a href="{{ path('tablelyon_index') }}">Lister Mbre Bureau</a></li>
            </ul>
            <ul>
               <li><a href="{{ path('admin_home') }}">Sympathisants</a></li>
            </ul>
             <ul>
               <li><a href="{{ path('tablelyon_smsbureau') }}">Envoie sms bureau</a></li>
            </ul>
   </li>
   