{% extends  'layout.html.twig' %}
{% block body %}
<p><h3> Je teste mon username </h3>
<h3> {{ numusername }}</h3>
<p><h3> Je teste mon id </h3>
<h3> {{ numid }}</h3>

{% endblock %}

{% block droite %}
{% endblock %}