{% extends  'base.html.twig' %}
{% block title %}félicitation adherent{% endblock title %}

 {% block navbar %} {% endblock navbar %}  
{% block pub %} {% endblock pub %}    
        
        {% block body %}
        <h4> Page erreur Problème sms (message ou n°tel)</h4>
        <li><a href="{{ '/' }}"><p><h4><span class="label label-info">Retour </span></h4></p></a> </li>
       
        {% endblock body %}