{% extends 'base.html.twig' %}

{% block title %}New Tablesection3{% endblock %}

{% block body %}
    <h1>Create new Tablesection3</h1>

    {{ include('tablesection3/_form.html.twig') }}

    <a href="{{ path('tablesection3_index') }}">back to list</a>
{% endblock %}
