<form method="post" action="{{ path('tablesection2_delete', {'id': tablesection2.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tablesection2.id) }}">
    <button class="btn">Delete</button>
</form>
