{% extends 'base.html.twig' %}

{% block title %}New Tablesection2{% endblock %}

{% block body %}
    <h1>Create new Tablesection2</h1>

    {{ include('tablesection2/_form.html.twig') }}

    <a href="{{ path('tablesection2_index') }}">back to list</a>
{% endblock %}
