{% block body %}
<h2> Signature électronique: </h2>
<h4>Merci d'avoir procédé à la signature électronique de votre adhésion au FPI.<h4>
 {# {{ pass }}  #}
{# {{ valuecode }} #}
{# {{ codesms }} #}
{% endblock %}

{% block droite %}
{% endblock %}