{% block body %}
<h2> modifdeux V2: </h2>
<h4>Veullez confirmer cet utilisateur.<h4>
{# {{ form_start(formUser, { attr: {novalidate: 'novalidate'} }) }}

 {{ form_widget(formUser) }} 
 {{ form_end(formUser) }}  #}
{% endblock %}

{% block droite %}
{% endblock %}