{% block body %}
<h2> modifdeux V2: </h2>
<h4>Veullez entrer un role.<h4>
{# {{ form_start(formUser, { attr: {novalidate: 'novalidate'} }) }} #}
{{ form_start(formUser) }}


 {{ form_end(formUser) }} 

{% endblock %}

{% block droite %}
{% endblock %}