{% block body %}
<h2> Signature électronique: </h2>
<h4>Veullez cliquer sur signature pour recevoire un code par sms que vous rentrerez dans la case vide ci-dessous afin de signer électroniquement votre adhésion au Front Populaire Ivoirien ainsi que les conditions générales d'utilisation de ce site.<h4>
{{ form(formUser) }}

{% endblock %}

{% block droite %}
{% endblock %}