{% extends 'base.html.twig' %}

{% block title %}Display{% endblock %}

{% block body %}
<h3>Affichage photo </h3>

<div>
<h5>Avant de voir votre photo, vous devrez d'abord faire une demande de carte de membre</h5>
		<li><a href="{{ '/' }}"><p><h4><span class="label label-info">Retour </span></h4></p></a> </li>

</div>

{% endblock %}